.holidayDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}


.crow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crow3 {
    display: flex;
    align-items: center;
}


.button-container11 {
    display: flex;
    justify-content: center;
}

.card-container12 {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.myButton1 {
    background-color: #3378ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
}


.myButton:hover {
    background-color: #2862d1;
}

.table-container12 {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto;
}


.employee-table121 {
    width: 100%;
    border-collapse: collapse;
}

.employee-table121 th,
.employee-table121 td {
    border: 1px solid #ddd;
    padding: 8px;
   
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.employee-table121 th {
    min-width: 100px;
    background-color: #f4f4f4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.employee-table121 td:nth-child(1),
.employee-table121 td:nth-child(3),
.employee-table121 td:nth-child(1),

.employee-table10 td:nth-child(7) {
    text-align: center;
}

.holiday-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.holiday-item {
    display: flex;
    align-items: center;
 
    padding: 10px;
    border-radius: 8px;
    
}

.holiday-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 58px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #047EFF;
    width: 70px;
    text-align: center;
}


.holiday-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3378ff;
    color: white;
    height: 25px;

    width: 70px;
    text-align: center;
}

.holiday-month {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.holiday-day {
    font-size: 20px;
    font-weight: bold;
}

.holiday-details {
    margin-left: 15px;
}

.holiday-name {
    font-size: 16px;
    font-weight: 600;
}

.holiday-weekday {
    font-size: 14px;
    color: #666;
}