
.holidayDiv121 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}


.card-container1234 {

    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  
  }
  .clear-filter-button22 {
    padding: 10px 40px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .clear-filter-button22:hover {
    background-color: #2196f3;
  }
  h1 {
    margin-bottom: 0; 
  }
  
  .MuiPaper-root {
    margin-top: 0;
  }
  .table-container {
    width: 100%;
    overflow: auto;
    max-height: 600px; /* Adjust the height as needed */
    /* border: 1px solid #ddd;
    border-radius: 8px; */
  }
  
  .employee-table2322 {
    width: 120%;
    border-collapse: collapse;
    position: relative;
  }
  
  .employee-table2322 th,
  .employee-table2322 td {
    border: 1px solid #ddd;
    padding: 10px;
  
  }
  
  .employee-table2322 th {
    background-color: #f4f4f4;
    text-align: center;
  
  }
  
  .employee-table2322 td:nth-child(3),
  .employee-table2322 td:nth-child(1),
  .employee-table2322 td:nth-child(4),
  .employee-table2322 td:nth-child(6),
  .employee-table2322 td:nth-child(7),
  .employee-table2322 td:nth-child(8),
  .employee-table2322 td:nth-child(11),
  .employee-table2322 td:nth-child(12),
  .employee-table2322 td:nth-child(14),
  .employee-table2322 td:nth-child(13),
  .employee-table2322 td:nth-child(15),
  .employee-table2322 td:nth-child(9) {
    text-align: center;
  }
  .form-group222 {
    display: flex;
    margin-left: 10px;
    border-width: 1px;
    border-color: gray;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}