.req-btn {
  font-size: 13px;
  border-radius: 55px;
  padding: 7px 12px;
  margin-right: 12px;
  background-color: #3B7080;
  border: 1px solid #3B7080;
  color: #FFF;
}

.main-testimonial-slides{
  background: url("./assets/essential-feature-bg.png");
  background-color: #FEF1EB;
}

.banner-users .avatar {
  margin-inline-end: -1.847rem !important;
  transition: all 0.5s;
}